APP_ENV=prod
APP_DEBUG=0
APP_SECRET=changeme
DATABASE_URL="postgresql://postgres:password@127.0.0.1:5432/bagage_express?serverVersion=16&charset=utf8"
DEFAULT_URI=http://localhost

###> symfony/mercure-bundle ###
# See https://symfony.com/doc/current/mercure.html#configuration
# The URL of the Mercure hub, used by the app to publish updates (can be a local URL)
MERCURE_URL=https://example.com/.well-known/mercure
# The public URL of the Mercure hub, used by the browser to connect
MERCURE_PUBLIC_URL=https://example.com/.well-known/mercure
# The secret used to sign the JWTs
MERCURE_JWT_SECRET="!ChangeThisMercureHubJWTSecretKey!"
###< symfony/mercure-bundle ###
